body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #e0e0e0;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

#search-box {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  margin-bottom: 10px;
}

#dropdown {
  position: relative;
  display: inline-block;
}

.horizontal-container {
  text-align: center; /* Align center if needed */
}

.horizontal-container div {
  display: inline-block;
  width: 48%; /* Adjust the width as needed, leaving some space for margins and padding */
  margin: 5px; /* Add margin for spacing */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  padding: 10px; /* Optional: Add padding for spacing inside the div */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  width: 300px;
  text-align: left;
}

.dropdown-content button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #3498db;
  text-decoration: underline;
}

.dropdown-content div {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content div:hover {
  background-color: #f0f0f0;
}

.selected-item {
  background-color: #ddd;
  cursor: pointer;
}

/* Add custom properties for button colors */
:root {
  --green-color: #4CAF50;
  --light-green-color: #6ab04c;
  --yellow-color: #f8b400;
  --red-color: #d92525;
}

/* Rest of your existing CSS */

.recipe-button {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: var(--green-color); /* Default color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add more styling as needed */


#generate-recipes-button {
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  background-color: #64219c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add more styling as needed */

#meal-title {
  font-size: 32px;
  font-family: cursive;
  color: #333;
  /* Dark gray color */
  margin-bottom: 15px;
  letter-spacing: 1px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

#compatibility-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meal-compatibility {
  width: 30%;
  margin-top: 10px;
}

.recipe-box {
  width: 300px; /* Set a specific width for the recipe box */
  min-height: 450px; /* Set a minimum height for the recipe box to expand from */
  height: auto; /* Allow the box to expand based on its content */
  margin: 10px auto; /* Center the recipe box horizontally */
  border: 1px solid #000;
  padding: 10px;
  background-color: #ffFf88;
  
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clean-list li {
  margin-bottom: 8px;
  color: #555;
  text-decoration: line-through; /* Add line-through style */
}

.clean-list.mul li {
  text-decoration: none; /* Remove line-through for mul */
}